<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>赵艺茗的博客</title>
        <style>
            .nav-wrap{
                width: 1001px;
                margin: 0 auto;
                border-radius: 5px;
                height: 50px;
                background: #6cc;
                margin-top: 5px;
                box-shadow: 2px 2px 2px #bdbdbd;
            }
            body {
                background-color: #eee
            }
        </style>
    </head>
    <body>
        <div class="">
            <h1>用努力筑梦未来</h1>
            <hr>
            <nav class="nav-wrap">
                
            </nav>
        </div>
    </body>
</html>